{% extends "base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block css %}
  {% render_bundle 'main_page' 'css' %}
  {{ block.super }} {# Here we want main_page.css to be loaded before base.css #}
{% endblock %}
{% block javascript %}
  <script>
    const tile_source = "{% get_media_prefix %}tiles/{{scene.uuid}}/{z}/{x}/{y}.png";
    const map_center = JSON.parse("[{{map_center.0}},{{ map_center.1 }}]");
    const user_id = {{ user_id }};
    const scene_id = {{ scene_id }};
    const algo_id = {{ algo_id }};
    const csrf_token = "{{ csrf_token }}"
    const class_col = JSON.parse('{{ class_col_json|escapejs }}')
    const api_upd_url = "{% url 'api:superpixels-save-sp' %}"
    {# Add miscellaneous tiles #}
    const misc_tiles = {
      {% for misc in misc_tiles %}
        "{{ misc.uuid }}": {
          path: "{% get_media_prefix %}tiles/{{misc.uuid}}/{z}/{x}/{y}.png",
          name: '{{ misc.name }}',
          descr: '{{ misc.description }}'
      }
      {% endfor %}
    }
  </script>
  <!-- Main page dependencies -->
  {% render_bundle 'main_page' 'js' attrs='defer' %}
{% endblock javascript %}
{% block content %}
  {# Check that project and scene were selected #}
  {% if not proj_id %}
    <p>You did not select a project yet. Please go to <a class="link" href="{% url 'home' %}">Projects</a> and select one</p>
  {% else %}
    {% if not scene_id %}
      <p>You did not select a scene yet. Please go to <a class="link" href="{% url 'scene' %}">Scene</a> and select one</p>
    {% else %}
      {# ============================================================================================================ #}
      {# ================================ Both scene and project were selectd, main part ============================ #}
      {# ============================================================================================================ #}
      <p>proj_id = {{ proj_id }}</p>
      <p>scene_id = {{ scene_id }}</p>

      <div id="map-sentinel-container">
        <div id="map-sentinel" style="width: 100%; height: 400px"></div>
      </div>
      <div id="map-sat-container">
        <div id="map-sat" style="width: 100%; height: 400px"></div>
      </div>

      {# ================= Buttons for class selection with mouse ==================== #}
      <div>
        {% for class in class_col %}
          <button id="class-btn-{{ class.land_class_id_id }}" type="button" class="btn btn-primary class-btn" style="background: {{ class.color }}">{{ class.key }} {{ class.name }}</button>
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}
{% endblock content %}
{% block inline_javascript %}
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      {% for class in class_col %}
        document.getElementById("class-btn-{{ class.land_class_id_id }}").addEventListener("click", assign_class.bind(null, {{ class.land_class_id_id }}, '{{ class.color }}'));
      {% endfor %}
    });
  </script>
{% endblock inline_javascript %}
