{% extends "base.html" %}

{% block content %}
  {# Check that project and scene were selected #}
  {% if not proj_id %}
    <p>You did not select a project yet. Please go to <a class="link" href="{% url 'home' %}">Projects</a> and select one</p>
  {% else %}
    {% if not scene_id %}
      <p>You did not select a scene yet. Please go to <a class="link" href="{% url 'scene' %}">Scene</a> and select one</p>
    {% else %}
      {# ============================================================================================================ #}
      {# ================================ Both scene and project were selectd, main part ============================ #}
      {# ============================================================================================================ #}
      <p>proj_id = {{ proj_id }}</p>
      <p>scene_id = {{ scene_id }}</p>
    {% endif %}
  {% endif %}
{% endblock %}
