@import 'custom_bootstrap_vars';
@import '~bootstrap/scss/bootstrap';

// project specific CSS goes here

///////////////
// Variables //
///////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////
// Alerts //
////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

/////////////////////////
// Classification page //
/////////////////////////
#row-main {
  padding: 0 5px 0 5px;
}

div.col-main:first-child {
  padding: 0 0 0 5px;
}

div.col-main:nth-child(2) {
  padding: 0 0 0 0;
}

#map-sentinel {
  width: 100%;
  height: calc((100vh - 56px) / 2 - 7px);
}

#map-sat {
  width: 100%;
  height: calc((100vh - 56px) / 2 - 7px);
}

div.ol-viewport:first-child {
  margin-bottom: 5px;
}
